# Environment variables
.env
.env.local
app/.env
app/.env.local

# Dependencies
node_modules/
app/node_modules/
package-lock.json

Imagen1.png
ProyectoInv No 1  CRUD en Base de datos No Relacional NEO4J con software de desarrollo y driver 2.docx
ProyectoInv No 1  CRUD en Base de datos No Relacional NEO4J con software de desarrollo y driver 2.pdf
~$oyectoInv No 1  CRUD en Base de datos No Relacional NEO4J con software de desarrollo y driver 2.docx
